body {
  font-family: sans-serif;
  line-height: 1.4;
  color: black;

  border: 5px solid black;
}

.product-title {
  background-color: #d9d3d3;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  text-transform: uppercase;
  font-size: 18 px;
}

li {
  font-size: 16px;
  list-style-type: square;
}

header h3 {
  font-size: 22px;
}

header p {
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/* Styling links */

/* .more-info:link {
  color: black;
  text-decoration: underline;
} */
/* też zadziała, propozycja z filmiku */

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  background-color: #f7f7f7;
}

button {
  font-size: 22px;
  text-transform: uppercase;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: #fff;
}
